language: node_js
node_js:
  - "4"
  - "6"
  - "8"

env:
  matrix:
    - SHOWDOWN_VERSION=1.2
    - SHOWDOWN_VERSION=1.3
    - SHOWDOWN_VERSION=1.4
    - SHOWDOWN_VERSION=1.5
    - SHOWDOWN_VERSION=1.6
    - SHOWDOWN_VERSION=1.7
  global:
    secure: "ar7blupPUbCvi3ys+xaeCmHU2Pci2f95Ybn6MMu2JkZnr+MWzbVoPKGC+2oQQz8FPGMV0ZCnadEVYVZ7429LDlAAixFUEYFyfzgZxb5H/f29mrquYvjgum2IVwmfaiwt8hOH5QajC70H/sU0Eu8LW0xvbBH/OUA81aCNv2FAEVioh+RV+IMfRgL1BBAM+bpj8SSI2K9IXapUSmdu8RFWwCoFkkhDlwZT4I8BIC4arsx4WilBMytLfeYOF1lMrPWHGie6+zMr3gMA/UJObEF+JUnytij/c4JGr20g1eJF7DochUh09WesYAZCF8rtgRksnXepEoys0NUTO9nduftJNIc2E54WL4nhOvcvozPp6WUKlFoyTkVCJUnm0xoGzhIY9nk/rcTbuHygUYDSnePtMX2Gz8K+bUDiBAQA+QOpOWQfkliXN8rHD4hqavSiCGRy/yuZ5rdXzCA/7yCfLzRPVA6cXiIYcd2JodCo0NLJ3vnIWjEgWlTe5LKbvJs6zcyz2zU8jfc9YMaa54jsjalb5CktnRz+dGHl0h9jLwu+wsnHpRVVZgwgIo/k8LAviZnotrmFHpoAz3ScaR3i7yvrkBwuUY2mucJYPh11EhYYs10F7SdC/yHP01ZxjfiyFxJ4NDuFgk+fAv9nDuXOlWJ9meEj1+1RgoA5UzDDFtwQ3Mk="

before_install:
  - '[ "${TRAVIS_NODE_VERSION}" != "0.8" ] || npm install -g npm@1.4.28'
  - npm install -g npm@latest
  - npm install -g grunt-cli
  - npm install -g codeclimate-test-reporter

install:
  - npm install
  - npm install showdown@${SHOWDOWN_VERSION}

sudo: false
cache:
  directories:
    - node_modules

script: grunt coverage
after_script: '[ "${TRAVIS_NODE_VERSION}" = "8" ] && [ "${SHOWDOWN_VERSION}" = "1.7" ] && codeclimate-test-reporter < ./coverage/lcov.info'

deploy:
  provider: npm
  email: ph.wolfer@gmail.com
  api_key:
    secure: Yo2KmdAvsJ56RH+Wj1iaiRVpBxFIBeD+3OQ5U5Ap3KozTYa5Mn90WWcXJSHKx/UgEzMgpY0qvN/WlBLRsV9R8akcd10XmpVP6f6wWTR6ZBoPa/OgEhlPyxtV1augEg4uc47W6JT/yXzfOsvpDsoNt6BzJPS/L7EDTaKjM+4RAkkTMQtHwk7LL1k+2P+xK+mJP3BchhjHkmP70QCPt8gD8uq7+R26to9JyBeMxGPTJU3/bTMyfuxAz9bWOu+jPMIVvbZmo+yYm7XZLF3CCxfm0VZn82o5lbSn52jBv/oSABx7eowMDJ83kJ7UCSF/rOAqtDMVI/6TUHBTJHtqZojzf3fQqcZBaggAAI7Yl8fx3dWeOXjegHz5IFJzlVQUeZcTGvcl0Ap284yY+lvwi7obqiroDbBwo9JoLDr76VyWLeiUI9NBoeylhmUHgu7zNQoWQ1Kv/9YQ18cq9QHYhyWVoeptnyRLZxESNx/fFgrhEk7R9z26+uydse4drZY/icl6zfU9jVyY7NrpBKEIrSOc9452DCu3e79StAWQB4w1hzP6/XFZlpbWgrm7ikJmu2U6wQjP85BsXLXrzFFz9qABjZhtGFhguVFlhYTSY1VO72H+8kBKeDn66qLm2OiZ6HhFGDwrdvM7uqu+BXH1X/DsJYsAMH9baGH1qbVoB9yFX00=
  on:
    branch: master
    tags: true
    node: "4"
    condition: "$SHOWDOWN_VERSION = 1.2"
